/*General CSS*/
html {
    scroll-behavior: smooth;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/*The above removes that default margin: 8px */

header {
    background-color:none;
}

body {
    margin: 0;
    font-family: 'Roboto',Helvetica, sans-serif;
    background-color: #F6f5f1;
    letter-spacing: 1px;
}

li {
    list-style: none;
}
  
a {
    color: #30435C;
    text-decoration: none;
}

h1{
    color: #30435C;
}

p {
    color: #30435C;
    margin-bottom: 1rem;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #FFFFFF ;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 60px;
}

.nav-link{
    transition: 0.3s ease-out;
}
.nav-link:hover{
    color: #A3B6CF;
}

.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: #A3CCCF;
    border: 2px solid #A3CCCF;
    border-radius: 30px;
    color: #30435C;
    letter-spacing: 1px;
} 

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3x ease-in-out;
    transition: all 0.3x ease-in-out;
    background-color: #153647;
}

/*SECTIONS*/
section {
    padding: 5em 2em;
}

/*Home*/
/* .box{
    background: #FAF8F6 ;
    padding: 2em;
    width: 50%;

    outline: 5px solid #153647;
    outline-offset: 5px;
} */

.home{
    background-color: #386D9D ;
    /* background-image: linear-gradient(#386D9D, #FCF5EF ); */
    text-align: center;
    height: 600px;
}

.home .text-one{
    color:#153647;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .text-two{
    font-size: 40px;
    margin:5px 0;
    color:#A3CCCF;
}

.social {
    margin-top: 5px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    font-size: 20px;
}

/*About*/
#about{
    background-color: #FCF5EF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}
.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}
.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 15px;
}
.text-container h1{
    font-size: 30px;
    padding: 20px 0px;
}


/*Skills & Experience*/
#skills_experience{
    background-color: #FCF5EF ;
}

/*Contact*/
#contact{
    background-color: #FAF8F6;
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact:after{
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("img/random.png") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #A3CCCF;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #A3CCCF;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid #153647;
    background-color: #fff;
}

/*Footer Section */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: auto;
    background-color: #FAF8F6;
    color: #153647;
    text-align: center;
    padding: 15px 0;
  }
  


@media(max-width:768px){

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:#F6f5f1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

    .wrapper{
        flex-direction: column;
    }
    .image-container img{
        width: 250px;
        height: 250px;
    }
    .text-container {
        align-items: center;
    }




	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}

}