/*General CSS*/
html {
    scroll-behavior: smooth;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/*The above removes that default margin: 8px */

header {
    background-color:none;
}

body {
    margin: 0;
    font-family: 'Roboto',Helvetica, sans-serif;
    background-color: #F6f5f1;
    letter-spacing: 1px;
}

li {
    list-style: none;
}
  
a {
    color: #30435C;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #FFFFFF ;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 60px;
}

.nav-link{
    transition: 0.3s ease-out;
}
.nav-link:hover{
    color: #A3B6CF;
}

.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: #A3CCCF;
    border: 2px solid #A3CCCF;
    border-radius: 30px;
    color: #30435C;
    letter-spacing: 1px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3x ease-in-out;
    transition: all 0.3x ease-in-out;
    background-color: #153647;
}

/*SECTIONS*/
section {
    padding: 5em 2em;
}

/*Work*/
.home{
    background-color: #FFFFFF ;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}

.home .text-one{
    color:#153647;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .text-two{
    font-size: 40px;
    margin:5px 0;
    color:#A3CCCF;
}

.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#F6f5f1;
    font-size: 24px;
    margin-right: 22px;
    margin-bottom: 30px;
}

.social a:hover{
    transform: scale(1.1);
    background:#A3CCCF;
    transition: 0.5s;
}


/*About*/


/*Work*/
#work{
    background-color: #FFFFFF ;
}

/*Contact*/

/*Footer Section */
footer{
    background-color: #FFFFFF ;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    color: #153647;
    text-align: center;
  }
  
div.social {
    margin-top: 5px;
    letter-spacing: 2px;
    padding-bottom: 10px;
} 


@media(max-width:768px){

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: none;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

    .home-img{
        min-width: 250px;
        position: relative;
        z-index:2
    }

}