.work{
  text-align: center;
  justify-content: center;
}
.projects-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
  // height: 400px;
  text-align: center;

  //the following applies text wrapping
  word-wrap: break-word;
  white-space: normal;
}

.projects-container .card {
  box-shadow: 0 3px 10px $box-shadow;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
  &:hover {
		background-color: $darkteal;

    h2, p{
      color: $white;
    }
	}
}

.card-img-top{
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 16px;
}

.card-content {
  h3{
    font-size: 20px;
  }

  p {
    text-align:left;
    font-size: 15px;
    text-indent: 30px;
  }
}

/* ------------- Responsive Display ------------- */
@include media('<=tablet') {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}