@import "./breakpoints/breakpoints.scss";
@import "./colors/colors";
@import 'navbar';
@import 'about';
@import 'work';
@import 'footer';


* {
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    background-color: #fff;
}

section {
    padding: 5em 2em; /* Equivalent 80px  32*/
    height: 100vh; /* vh: 1/100th of the height of the viewport */
}

li{
    list-style: none;
}
  
a{
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
}

/* Typography */
h1,
h2,
a,
p {
  margin-bottom: 25px;
}








  







