@import "./breakpoints/breakpoints.scss";
@import "./colors/colors";
@import 'navbar';
@import 'about';
@import 'work';
@import 'contact';
@import 'footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Lato", Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    background-color: $white;
}

// html, body{
//     overflow-x: hidden;
// }

main {
    z-index: 0;
}

section {
    padding: 5em 2em; /* Equivalent 80px  32*/
    height: 100vh; /* vh: 1/100th of the height of the viewport */
}

li{
    list-style: none;
}
  
a{
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
}

/* Typography */
h1,
h2,
a,
p {
  margin-bottom: 25px;
}

h1 {
    font-size: 75px;
    font-weight: 400;
}
  
h2 {
    font-size: 55px;
    font-weight: 300;
}

h3 {
    font-size: 35px;
}

p {
    font-size: 24px;
    font-weight:300;
    line-height: 32px; /* within paragraph */
    margin-bottom: 30px; /* between paragraphs */
}
  

a,
li {
    font-size: 15px;
}


@include media('<=tablet') {
    h1 {
        font-size: 45px;
    }
    
    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }
    
    p {
        font-size: 18px;

    }
}










  







