.container {
  max-width: 1224px;
  width: 92%;
  margin: 0 auto;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 2rem;
  text-transform: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  z-index: 1;
}

.nav-link {
  transition: 0.3s ease-out;
}
.nav-link:hover {
  color: #999;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: #111;
}

/* ------------- Responsive Display ------------- */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-branding {
    font-size: 1.25rem;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #111;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-item .nav-link {
    color: white;
  }
}
#about {
  position: relative;
  display: flex;
  height: 75vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 120px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 50%;
}

.text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 15px;
  text-align: left;
}

/* ------------- Responsive Display ------------- */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .image-container img {
    width: 200px;
    height: 200px;
  }
}
.work {
  background-color: #114c59;
  justify-content: center;
  text-align: center;
}

.work h2 {
  color: #fff;
}

.container {
  padding: 1rem 1rem;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
.container .cards {
  box-shadow: 1px 1px 10px 2px rgb(185, 185, 185);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 1rem;
  overflow: hidden;
}
@media (702px <= width <= 943px) {
  .container .cards {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 275px), 1fr));
  }
}
.container .cards .card-1::before {
  background: url(https://images.unsplash.com/photo-1673372267880-bc6914e446cb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3NTk3Mjc4Mw&ixlib=rb-4.0.3&q=80&w=1080);
}
.container .cards .card-2::before {
  background: url(https://images.unsplash.com/photo-1675266410217-f335c2535545?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3NTk3MjkwNw&ixlib=rb-4.0.3&q=80&w=1080);
}
.container .cards .card-3::before {
  background: url(https://images.unsplash.com/photo-1675223942769-7806d38453aa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3NTk3Mjg4Ng&ixlib=rb-4.0.3&q=80&w=1080);
}
.container .cards .card-4::before {
  background: url(https://images.unsplash.com/photo-1674842342916-361c15254730?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3NTk3Mjk4Ng&ixlib=rb-4.0.3&q=80&w=1080);
}
.container .cards .card {
  min-height: 20rem;
  padding: 1rem;
  background-size: cover;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 500ms;
}
.container .cards .card:hover {
  opacity: 1;
}
.container .cards .card:hover .text {
  top: 50%;
  transform: translate(-50%, -10%);
}
.container .cards .card:hover::before {
  transform: scale(1.1) translateY(-4%);
}
.container .cards .card:hover::after {
  opacity: 1;
}
.container .cards .card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 500ms;
  opacity: 0;
  z-index: -1;
}
.container .cards .card::before {
  position: absolute;
  content: "";
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition-duration: 500ms;
  opacity: 1;
  z-index: -1;
}
.container .cards .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85%;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition-duration: 500ms;
  text-align: center;
}
.container .cards .text h1 {
  font-size: 1.5rem;
  white-space: nowrap;
}
.container .cards .text p {
  font-size: 0.75rem;
}
.container .cards .text a {
  text-decoration: none;
  color: #252525;
  padding: 0.5rem;
  padding-inline: 1rem;
  background-color: white;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-radius: 100vmax;
  font-weight: bold;
  transition-duration: 300ms;
}
.container .cards .text a:hover {
  background-color: #252525;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 40px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials a {
  text-decoration: none;
  color: #111;
  padding: 5px;
}
.socials a i {
  font-size: 1.5rem;
  width: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  background-color: #fff;
}

section {
  padding: 5em 2em; /* Equivalent 80px  32*/
  height: 100vh; /* vh: 1/100th of the height of the viewport */
}

li {
  list-style: none;
}

a {
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
}

/* Typography */
h1,
h2,
a,
p {
  margin-bottom: 25px;
}/*# sourceMappingURL=index.css.map */